@model Group
@{
    ViewData["Title"] = "Create group";
 }
<div class="main-container">
    <div class="formContainer">
        <h1 class="title">Add Group</h1>
        <form asp-action="Create" asp-controller="Group" method="post" class="form">
            <label>Discription</label>
            <input class="inputStyle" asp-for="@Model.Description" type="text" placeholder="Discription">
            <input type="submit" class="addRecordbtn" value="Add">
        </form>
        <p class="success-message">@ViewData["SuccessMessage"]</p>
        <div class="error-box" asp-validation-summary="All"></div>
    </div>
</div>
