@model RegistrationViewModel
@using Microsoft.AspNetCore.Identity;
@inject RoleManager<IdentityRole> RoleManager
@{
    
        ViewData["Title"] = "Create account";
    
    var roles = RoleManager.Roles.Select(c => new SelectListItem { Value = c.Name, Text = c.Name })
        .ToList();
}
<div class="main-container">
    <div class="header-item">
        <h1 class="title">Add user</h1>
        <form asp-action="Create" asp-controller="Account" method="post" class="form">
            <input asp-for="Username" type="text" placeholder="Username" />
            <input asp-for="Password" type="password" placeholder="Password" />
            <input asp-for="RepeatPassword" type="password" placeholder="Repeat password" />
            <div class="select-container">
                <select name="userRole" class="select-items" asp-items="@roles">
                    <option value="" disabled selected>Select  Role</option>
                </select>
            </div>
            <input asp-for="Email" type="email" placeholder="Email" />
            <input asp-for="Name" type="text" placeholder="Name" />
            <input asp-for="Surname" type="text" placeholder="Surname" />
            <input asp-for="MiddleName" type="text" placeholder="Middle Name" />
            <div class="error-box" asp-validation-summary="All"></div>
            <div class="formButtons">
                <input type="submit" class="addRecordbtn" value="Add">
            </div>
        </form>
        <p class="success-message">@ViewData["SuccessMessage"]</p>
    </div>
</div>
