@model Genre
<div class="all-container">
    <div class="formContainer">
        <h1 class="title">Add genre</h1>
        <form asp-action="Create" asp-controller="Genre" method="post" class="form">
            <label>Genre name</label>
            <input class="inputStyle" asp-for="@Model.GenreName" type="text" placeholder="Genre name">
            <label>Discription</label>
            <input class="inputStyle" asp-for="@Model.Description" type="text" placeholder="Description">           
            <input type="submit" class="addRecordbtn" value="Add">
        </form>
        <p class="success-message">@ViewData["SuccessMessage"]</p>
        <div class="error-box" asp-validation-summary="All"></div>
    </div>
</div>
