<section class="container">
    <div class="login">
        <h1>Регистрация</h1>
        <form method="post" action="/registration">
            <p><input type="text" name="username" value="" placeholder="Логин или Email"></p>
            <p><input type="password" name="password" value="" placeholder="Пароль"></p>
            <p><input type="text" name="name" value="" placeholder="Имя"></p>
            <p><input type="text" name="surname" value="" placeholder="Фамилия"></p>
            <p class="submit"><input type="submit" name="commit" value="Зарегистрироваться"></p>
        </form>
    </div>
</section>
